<!DOCTYPE html>
<html>
<head>
		
	<title>공간대여 - 우리만의 공간</title>
	
	<link href="/css/main.css" rel="stylesheet"  >
	<link href="/css/app.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet" >
	
	<script src="/js/main.js"></script>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<!--  	
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
		-->	
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!--  다음 우편번호 찾기 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet">	


</head>
<body style="min-height:100%;">

		<!-- Header -->
			<header id="header" class="alt"  style="font-color:black; margin-top:10px;  "  >
				<div class="logo"  style="font-size:40px;" >
					<a href="index">Place Cloud</a>
				</div>			
					<a href="login.jsp" style="color:black;">Login</a>
					<a href="#menu"  style="color:black">Menu</a>				
			</header>
		
		<!-- Nav -->
				<nav id="menu" >
					<ul class="links">
						<li><a href="#">home</a></li>
						<li><a href="#">지역별</a></li>
						<li><a href="#">테마별</a></li>
						<li><a href="#">카테고리별</a></li>
						<li><a href="#">공지사항</a></li>
						<li><a href="#">1:1문의</a></li>
						<li><a href="#">도움말</a></li>
					</ul>
				</nav>
				

			
				
					<main>
						<div class="infoContainer">
							<h1>회원정보 상세 페이지</h1>
							
							<div class="profile-section">
								<img src="#" alt="회원 프로필 사진">
								<div class="info">
									<p><strong>이름 : </strong>ㄱㅇㄹ</p>
									<p><strong>이메일 : </strong>asdkw@naver.com</p>
									<p><strong>전화 번호 : </strong>010-0000-0000</p>
									<p><strong>주소 : </strong>서울특별시 강남구 역삼동</p>
									<p><strong>회원 가입일 : </strong>2023년 6월 15일</p>
								</div>
							</div>
							
							<!-- 회원 활동 내역 -->
							<div class="activity-section">
								<h2>회원 활동 내역</h2>
								<ul>
									<li>예약내역</li>
									<li>리뷰작성</li>
									<li>문의사항</li>
								</ul>
								
								<!--  회원설정 -->
								<div class="setting-section">
									<h2>설정</h2>
									<ul>
										<li><a href="#">비밀번호 변경</a></li>
										<li><a href="#">알림 설정</a></li>
										<li><a href="#">회원 탈퇴</a></li>
									</ul>
								</div>
								
								<div class="button-container">
									<a href="#" class="btn">회원 정보 수정</a>
								</div>
							</div>
						</div>
					
					</main>
			
	
			
			<footer id="footer">
				<!-- <div class="container"> -->
					<ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				<!-- </div> -->
			</footer>
			<div class="copyright">
				Made with <a href="https://templated.co/">Templated</a>.
			</div>
			
			<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script></body>

</html>

